<section class="section">
  <div class="container has-text-centered">
    <div ng-if="!$ctrl.isPreview">
      <div class="loader app-loader"></div>
      <p class="subtitle is-5 app-loader-title" ng-if="!$ctrl.url">One moment...</p>
      <p class="subtitle is-5 app-loader-title" ng-if="$ctrl.url">Redirecting you to</p>
      <p ng-if="$ctrl.url"><a ng-href="{{$ctrl.url}}">{{$ctrl.url}}</a></p>
    </div>
    <div ng-if="$ctrl.isPreview && !$ctrl.url">
      <div class="loader app-loader"></div>
      <p class="subtitle is-5 app-loader-title">
        <span>One moment...</span>
      </p>
    </div>
    <div ng-if="$ctrl.isPreview && $ctrl.url" class="box">
      <p class="subtitle is-5">Click to redirect to</p>
      <p><a ng-href="{{$ctrl.url}}">{{$ctrl.url}}</a></p>
    </div>
  </div>
</section>
